<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header (sortingTopic)="sortWith($event)" (showView)="showView($event)"></app-header>
  <div class="container">
    <div class="col-md-12">
      <app-list-component [item]="sortCatagory" *ngIf="view === 'list-view'"></app-list-component>
      <app-card [item]="sortCatagory" *ngIf="view !== 'list-view'"></app-card>
    </div>
  </div>
</body>
</html>